@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* :root {
    --main-color: rgb(170, 122, 226);
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
} */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

/* HOME */
.home {
  min-height: 100vh;
  padding-top: 12rem;
  background-color: #C8C6C6;
  /* background-position: center;
  background-size: cover; */
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .image {
  flex: 1 1 42rem;
  padding-top: 10rem;
  text-align: center;
}

.home .row .image img {
  height: 35rem;
  animation: float 4s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-7rem);
  }
}

.home .row .content h3 {
  font-size: 6.5rem;
  color: #0f172b;
  text-transform: uppercase;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
}

.home .image-slider img {
  height: 9rem;
  margin: 0 0.5rem;
  cursor: pointer;
  /* margin-bottom: 1rem; */
}

.home .image-slider img:hover {
  transform: translateY(-2rem);
}

.swiper-pagination-bullet {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

.contact {
  padding: 110px;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.contact-form form {
  position: relative;
  width: 350px;
}

/* Button */
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/* MEDIA QUERIES */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 6rem;
  }

  .heading span {
    font-size: 2.3rem;
  }

  #menu-btn {
    display: initial;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    font-size: 2.2rem;
    margin: 0;
    padding: 1.5rem 2rem;
  }

  .home {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 4rem;
  }

  .menu .box-container .box {
    margin-left: 0;
    margin-top: 6rem;
    flex-flow: column;
    text-align: center;
  }

  .menu .box-container .box img {
    margin-left: 0;
    margin-top: -6rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .row .image img {
    height: auto;
    width: 100%;
  }
}
